/* .products{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .products>.items{
    padding: 10px 30px;
    width:200px;
  }
  .container{
    width:800px;
    margin: 10px auto;
    background-color: beige;
    padding: 30;
  } */
  img{
    width: 200px;
  }